<li id="checklist_item_<%= checklist_item.id %>" <%= 'class=is-done-checklist-item' if checklist_item.is_done %> >
  <%= check_box_tag 'checklist_item', '1', checklist_item.is_done,
      disabled: !User.current.allowed_to?(:done_checklists, checklist_item.issue.project),
      onclick:  "checklist_item_done(this,'#{url_for({ controller: 'issue_checklists', action: 'done', checklist_item_id: checklist_item.id, is_done: (checklist_item.is_done == false) })}','#{checklist_item.id}')"
  %>
  <%= textilizable(checklist_item, :subject).gsub(/<\/?(p|h\d+|li|ul)>/, '').strip.html_safe %>
</li>
